<style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
  .tg .tg-0lax{text-align:left;vertical-align:top}
  </style>
  <table class="tg">
  <thead>
    <tr>
      <th class="tg-0pky">logo</th>
      <th class="tg-0lax" colspan="5">Informasi</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tg-0lax">Mata Kuliah</td>
      <td class="tg-0lax">Kode</td>
      <td class="tg-0lax">Rumpun</td>
      <td class="tg-0lax">SKS</td>
      <td class="tg-0lax">Semester</td>
      <td class="tg-0lax">Tanggal Pembuatan</td>
    </tr>
    <tr>
      <td class="tg-0lax"><%= RPS.name %></td>
      <td class="tg-0lax"><%= RPS.code %></td>
      <td class="tg-0lax"></td>
      <td class="tg-0lax"><%= RPS.credit %></td>
      <td class="tg-0lax"><%= RPS.semester %></td>
      <td class="tg-0lax"></td>
    </tr>
    <tr>
      <td class="tg-0lax" colspan="6">Otorisasi</td>
    </tr>
    <tr>
      <td class="tg-0lax" colspan="2">Dosen Pengembang RPS</td>
      <td class="tg-0lax" colspan="2">Koordinator</td>
      <td class="tg-0lax" colspan="2">Ka Program Studi</td>
    </tr>
    <tr>
      <td class="tg-0lax" colspan="2"></td>
      <td class="tg-0lax" colspan="2"></td>
      <td class="tg-0lax" colspan="2"></td>
    </tr>
    <tr>
      <td class="tg-0lax" colspan="6">CP Program Studi</td>
    </tr>
    <tr>
      <td class="tg-0lax">CP-1</td>
      <td class="tg-0lax" colspan="5">Mengidentifikasi, memformulasikan dan memecahkan permasalahan kebutuhan informasi dari suatu organisasi</td>
    </tr>
    <tr>
      <td class="tg-0lax">CP-2</td>
      <td class="tg-0lax" colspan="5">Mengintegrasikan solusi berbasis teknologi informasi secara efektif pada suatu organisasi</td>
    </tr>
    <tr>
      <td class="tg-0lax">CP-3</td>
      <td class="tg-0lax" colspan="5">Menerapkan konsep-konsep dasar dalam merencanakan Sistem Informasi, merancang Sistem Informasi, membangun Sistem Informasi, mengoperasikan Sistem Informasi, dan mengevaluasi Sistem Informasi</td>
    </tr>
    <tr>
      <td class="tg-0lax" colspan="6">CP Mata Kuliah</td>
    </tr>
    <% CPL.forEach((C, i) => { %>
    <tr>
      <td class="tg-0lax"><%= i+1 %></td>
      <td class="tg-0lax" colspan="5"><%= C.course_lo.name %> (CP-<%= C.curriculum_lo_id %>)</td>
    </tr>
    <% } ) %>
    <tr>
      <td class="tg-0lax">Deskripsi Singkat Mata Kuliah</td>
      <td class="tg-0lax" colspan="5"><%= RPS.description %></td>
    </tr>
    <tr>
      <td class="tg-0lax">Materi Pembelajaran</td>
      <td class="tg-0lax" colspan="5"><%= RPS.material %></td>
    </tr>
    
    <tr>
      <td class="tg-0lax">Pustaka</td>
      
      <td class="tg-0lax" colspan="5"> <% ref.forEach((R) => { %> <%= R.author %>. <%= R.year %>. <%= R.title %>. <%= R.publisher %> <br> <% } ) %></td>
    </tr>
    
    <tr>
      <td class="tg-0lax">Team Teaching</td>
      <td class="tg-0lax" colspan="5"></td>
    </tr>
    <tr>
      <td class="tg-0lax">Assessment</td>
      <td class="tg-0lax" colspan="5"></td>
    </tr>
    <tr>
      <td class="tg-0lax">Mata Kuliah Prasyarat</td>
      <td class="tg-0lax" colspan="5"></td>
    </tr>
    <tr>
      <td class="tg-0lax">Bobot Penilaian (%) </td>
      <td class="tg-0lax" colspan="5"><% komponen.forEach((K) => { %> <%= K.percentage %> (<%= K.name %>) <br> <% } ) %></td>
    </tr>
  </tbody>
  </table>

  <style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg .tg-baqh{text-align:center;vertical-align:top}
    .tg .tg-0lax{text-align:left;vertical-align:top}
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <table class="tg">
    <thead>
      <tr>
        <th class="tg-baqh">Minggu Ke-</th>
        <th class="tg-baqh">Metode</th>
        <th class="tg-baqh">Pengalaman Belajar<br>Mahasiswa</th>
      </tr>
    </thead>
    <br><br>

    <tbody>
      <% pertemuan.forEach((P, i) => { %>
      <tr>
        <td class="tg-0lax"><%= P.week %></td>
        <td class="tg-0lax"><%= P.method %></td>
        <td class="tg-0lax"><%= P.student_experience %></td>
      </tr>
      <% } ) %>
    </tbody>
    </table>
    <br>
    <a href="/homeAdmin" class="btn btn-primary mb-3">Kembali</a>