<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portal Akademik 1B</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/9c1321c239.js" crossorigin="anonymous"></script>
  </head>
  <body>
      <%- include ('modals/headdosen') %>
    <nav>
        <div class="row no-gutters mt-5">
            <%- include ('modals/navbardosen', {nama, NIP}) %>
            <div class="col-md-10 p-4 pt-4">
                <h3><i class="fa-solid fa-list me-2"></i>List Rencana Pembelajaran Semester</h3><hr>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Masukkan Nama/Kode Mata Kuliah" aria-label="Search">
                    <button class="btn btn-outline-dark" type="submit">Cari</button>
                </form><br>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col">No.</th>
                            <th class="text-center" scope="col">Nama Mata Kuliah</th>
                            <th class="text-center" scope="col">Kode Mata Kuliah</th>
                            <th class="text-center" scope="col">Jumlah SKS</th>
                            <th class="text-center" scope="col">Detail</th>
                            <th class="text-center" scope="col">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                      <% RPS.forEach((R, i) => { %>
                        <tr>
                            <th class="text-center" scope="row"><%= i+1 %></th>
                            <td><%= R.course_plan.name %></td>
                            <td class="text-center"><%= R.course_plan.code %></td>
                            <td class="text-center"><%= R.course_plan.credit %></td>
                            <td class="text-center">
                                <div class="dropdown">
                                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                  Detail
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                  <li><a class="dropdown-item" href="/detailCPMK/<%= R.course_plan_id %>/<%= R.course_plan.name %>">CPMK</a></li>
                                  <li><a class="dropdown-item" href="/detailRef/<%= R.course_plan_id %>/<%= R.course_plan.name %>">Referensi</a></li>
                                  <li><a class="dropdown-item" href="/detailPertemuan/<%= R.course_plan_id %>/<%= R.course_plan.name %>">Jadwal Pertemuan</a></li>
                                  <li><a class="dropdown-item" href="/detailKomponen/<%= R.course_plan_id %>/<%= R.course_plan.name %>">Komponen Nilai</a></li>
                                </ul>
                              </div>
                            </td>
                            <td class="text-center"><a href="editrps1.html"><i class="fas fa-edit bg-warning p-2 text-black rounded" data-toggle="tooltip" title="Edit"></i></a></td>
                        </tr>
                      <% i++} ) %>
                    </tbody>
                </table><br>
                <a href="/tambahRPS" class="btn btn-warning mb-3"><i class="fas fa-plus-square me-2"></i>Tambah RPS</a>
            </div>
        </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>